<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flowers Classifier</title>
    <link rel = "stylesheet" href = "../static/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:wght@600;800&display=swap" rel="stylesheet">
    <link rel="icon" href="../static/logo.png" type="image/gif">
</head>
<body>
    <header>
        Flowers Classifier
    </header>

    <div class="content">
        <div class="result-box">
            <div class="result">Flower predicted as: {{result}}</div>
            <div class="accuracy">Accuracy: {{accuracy}}</div>
        </div>
    
        <form class="image-holder" action = "/" enctype=multipart/form-data>
            <div class = "image-holder-container">
               <!-- <img src="{{imgurl}}" max-height = "450px" min-height="450px" min-width="450px" max-width="450px" height = "450px" width="450px" style="border-radius : 25px;"> -->
            </div> 
            <div class="button-box">
                <!-- <button id= "predict-btn" type = "submit" disabled>Predict</button> -->
                <button id="choose-another" type = "submit">Choose another Image</button>
            </div>
        </form>
    </div>
    
</body>
<style>
    .image-holder-container{
        background-image: url({{imgurl}});
        background-repeat: no-repeat;
        background-size: cover;
        width: 450px;
        height: 450px;
    }
    /* .result-box{
        margin-top:auto;
    } */
    .content{
        justify-content: left;
    }
    
</style>
<script src="../static/index.js"></script>
</html>